p.content
{
	color: orange;
	padding: 50px;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	background:brown;
}
h1.content
{
	color:orange;
	padding:50px;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}
body
{
	background-image: url("../img/turkey.jpg");
	background-size:cover;
}
.center
{
	text-align: center;
	background:brown;
	opacity:0.9;
	color:orange;
}
p
{
	font-size: 15px;
}